<div class='container'>
  <mat-card class='chart'>
    <mat-card-header>
      <mat-card-title>The fault in our society</mat-card-title>
      <mat-card-subtitle>Reinforcing the class divide</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='https://www.stlouisfed.org/~/media/blog/2019/august/educational_wealth_gap_chart.png?la=en' alt='class divide statistics' class='statistics'>
    <mat-card-content>
      <p class='explanation'>
        Black Friday is a terrible day. Not only does it have less-than-romantic origins, but the deals themselves aren't even that good. The best deals, in luxury goods, reinforce the wealth gap. With household median incomes stagnated for the less-educated, Black Friday is one of the worst financial decision they can participate in of the year due to human psychology.
      </p>
      <p>
        If you're not looking to project your status on everyone, Black Friday is still terrible. Why waste time going out to the mall, when you can shop at the comfort of your own home and get it delivered or picked up curbside? Why shop for "deals" on Black Friday when better prices can be found at other times during the year?
      </p>
    </mat-card-content>
  </mat-card>
</div>
