<div class='header'>
  <img src='https://image.cnbcfm.com/api/v1/image/105591268-1543156642887gettyimages-1064543724.jpeg?v=1543156710' style='max-height:100%; max-width: 100%'>
</div>
<h1 class='mat-display-1 title'>What's the Big Deal About Black Friday? <span (click)="scrollToTimeline()">Actually, Nothing</span></h1>
<timeline></timeline>
<overall-data></overall-data>
<item-prices></item-prices>
<categories-data></categories-data>
<conclusion></conclusion>
<div class='container'>
  <small>
    <a href='https://github.com/KevZho/dsc106project'>https://github.com/KevZho/dsc106project</a>
  </small>
</div>
