<div class='container'>
  <mat-card class='chart'>
    <mat-card-header>
      <mat-card-title>The issue with discounts</mat-card-title>
      <mat-card-subtitle>Sales aren't just for Black Friday</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div [chart]="chart"></div>
      <p class='explanation'>
        Electronics are the most discounted out of all normal categories. This isn't surprising, considering how steep the MSRP for electronics are. However, throughout the year, there are smaller sales where you are likely to find items on bigger sales than on Black Friday.
      </p>
      <p>
        The biggest issue with Black Friday sales are luxury goods. They are discounted about 10% more than any other popular category for Black Friday, which reflects the mentality of consumers during Black Friday.
        While the rich don't care about Black Friday for shopping, as they have enough money to buy luxury goods normally, this opens up a toxic mindset for those with less money about having to buy luxury goods during Black Friday, possibly to raise their social status and impress friends. Because they are less well off, this money spent on luxury goods cannot be used towards other purposes more suited for their needs. This leads to a negative feedback loop where less well off people get the impression of being more well off, while having the opposite effect.
      </p>
      <p>
        <a href='https://www.forbes.com/sites/peterubel/2017/02/28/do-luxury-brands-benefit-from-income-inequality/#7ab8a98127b5'>Poorer people are also more likely to buy luxury goods</a>, in an effort to <a href='https://newrepublic.com/article/121381/study-higher-income-inequality-correlates-luxury-consumerism'>compensate for social standing</a>. Black Friday, in effect, reinforces the class boundaries as more of those with less disposable income buy luxury goods.
      </p>
    </mat-card-content>
  </mat-card>
</div>
